* {
    font-family: Roboto-light;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(244, 244, 244);
}

.links {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s ease all;
    font-weight: 900;
}

.menu {
    position: relative;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    background: #6891f8;
    height: 60px;
}

.main_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    box-sizing: border-box;
}

.form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    opacity: 0;
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    transform: translateY(-1000px);
}

.input_form {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.cats_program {
    position: absolute;
    top: 3px;
    left: 20px;
    height: 50px;
}

.button_form {
    width: 100%;
    padding: 10px;
}

.logo {
    font-size: 13px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: max-content;
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-300px);
    transition: 0.5s ease-in-out;
}



.why_need_website {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    font-size: 16px;
    gap: 20px;
}

.e-commerce {
    float: right;
    height: 200px;
    background-size: cover;
}

.e-commerce-text {
    margin-top: 0;
}

.important {
    display: flex;
    text-align: left;
    margin-top: 40px;
    width: 600px;
}

.important_two {
    margin-top: 20px;
    display: flex;
    width: 600px;
}

.important_digit {
    font-weight: bold;
    color: tomato;
}

.important_three {
    width: 600px;
    margin-top: 40px;
    font-weight: bolder;
}

.digit {
    font-weight: bold;
    color: #28eca5;
}

.link_to_from {
    text-decoration: none;
    color: #28eca5;
    font-weight: bolder;
}

.question_text {
    margin-top: 20px;
    width: 600px;
    font-weight: bolder;
}


.why_span {
    font-weight: 700;
}

.form_description {
    font-family: Roboto-regular;
    font-size: 34px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(-1000px);
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}

.container_form {
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
}

.description_form {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.container_about {
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    user-select: none;
}

.message {
    width: 100%;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    height: 80px;
}

.main_callback_text {
    margin-top: 40px;
    width: 600px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
}

.name {
    font-family: Roboto-regular;
    font-size: 34px;
    font-weight: bolder;
    text-align: left;
    width: 100%;
}

.dev {
    font-family: Roboto-regular;
    font-size: 26px;
    width: 100%;
}

.bio {
    margin-top: 40px;
    width: 400px;
    font-size: 24px;
    width: 100%;
}

#name, #dev, #bio {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

img { pointer-events: none; }

.safari {
    position: absolute;
    top: 200px;
    left: 400px;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    transform: translateY(-800px);
    cursor: move;
    user-select: none;
    background-color:  #f1f1f1;;
}

.safari-header {
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0;
}

.safari-body {
    width: 100%;
}

.safari-buttons {
    display: flex;
    margin-left: 10px;
}

.close, .minimize, .maximize {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    
}

.close { background: #fc605b; }
.minimize { background: #fecb2f; }
.maximize { background: #2aca3e; }

.safari-header input[type="text"] {
    margin-left: 10px;
    border: none;
    outline: none;
}


.icon_api {
    height: 40px;
}

.about {
    overflow: hidden;
    box-sizing: border-box;

}

#vite_icon,
#react_icon {
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.icon_container {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
}

.lottie_icon {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 200px;
    bottom: 100px;
    border-radius: 12px;
    transform: translateX(800px);
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}

.like_or {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
}

.lottie_heart {
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}

.chrome {
    width: 400px;
    height: 300px;
    border-radius: 12px;
    position: absolute;
    bottom : 150px;
    right: 100px;
    transform: translateY(1000px);
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    background-color: #242424;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    opacity: 0;
    cursor: move;
}
.controls {
    width: 100%;
    height: 40px;
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
    box-sizing: border-box;
    user-select: none;
}
.controls div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.close {
    background-color: #FF605C;
}
.minimize {
    background-color: #FFBD44;
}
.expand {
    background-color: #00CA4E;
}
.url-bar {
    height: 20px;
    flex-grow: 1;
    background-color: white;
    margin-left: 10px;
}
.youtube {
    width: 100%;
    height: calc(100% - 50px);
    /* background-color: #181818; */
}
.video {
    width: 250px;
    height: 125px;
    background-color: black;
    position: relative;
    margin: 20px 75px;
}
.like, .dislike, .views {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
}
.like {
    left: 10px;
}
.dislike {
    right:10px;
}
.views {
    left:70px;
    width:auto;
    height:auto;
    color:white;
}

input:focus {
    outline-color: #6891f8; 
}

textarea:focus {
    outline-color: #6891f8; 
}



@font-face {
    font-family: Roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}