* {
    font-family: Roboto-light;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(244, 244, 244);
}

.links {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s ease all;
    font-weight: 900;
}

.menu {
    position: relative;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    background: #6891f8;
    height: 60px;
}

.main_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s ease-in-out;
    height: 100%;
    margin-top: 50px;
}

.form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    opacity: 0;
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    transform: translateY(-1000px);
}

.input_form {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.cats_program {
    position: absolute;
    top: 3px;
    left: 20px;
    height: 50px;
}

.button_form {
    width: 100%;
    padding: 10px;
}

.logo {
    font-size: 13px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: max-content;
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-300px);
    transition: 0.5s ease-in-out;
}



.why_need_website {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    font-size: 16px;
    gap: 20px;
}

.e-commerce {
    float: right;
    height: 200px;
    background-size: cover;
}

.e-commerce-text {
    margin-top: 0;
}

.important {
    display: flex;
    text-align: left;
    margin-top: 40px;
    width: 600px;
}

.important_two {
    margin-top: 20px;
    display: flex;
    width: 600px;
}

.important_digit {
    font-weight: bold;
    color: tomato;
}

.important_three {
    width: 600px;
    margin-top: 40px;
    font-weight: bolder;
}

.digit {
    font-weight: bold;
    color: #28eca5;
}

.link_to_from {
    text-decoration: none;
    color: #28eca5;
    font-weight: bolder;
}

.question_text {
    margin-top: 20px;
    width: 600px;
    font-weight: bolder;
}


.why_span {
    font-weight: 700;
}

.form_description {
    font-size: 24px;
    margin-bottom: 20px;
    transform: translateX(-1000px);
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}

.container_form {
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
}

.description_form {
    width: 300px;
}

.container_about {
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    user-select: none;
}

.message {
    width: 100%;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    height: 80px;
}

.main_callback_text {
    margin-top: 40px;
    width: 600px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

.dev {
    padding-left: 10px;
    width: 100%;
}

.bio {
    margin-top: 40px;
    width: 400px;
}

#name, #dev, #bio {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

img { pointer-events: none; }

.safari {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    transform: translateY(-800px);
    cursor: move;
    user-select: none;
}

.safari-header {
    height: 30px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}

.safari-body {
    background: #f1f1f1;
}

.safari-buttons {
    display: flex;
    margin-left: 10px;
}

.close, .minimize, .maximize {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.close { background: #fc605b; }
.minimize { background: #fecb2f; }
.maximize { background: #2aca3e; }

.safari-header input[type="text"] {
    margin-left: 10px;
    border: none;
    outline: none;
}


.icon_api {
    height: 40px;
}

#vite_icon,
#react_icon {
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.icon_container {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input:focus {
    outline-color: #6891f8; 
}

textarea:focus {
    outline-color: #6891f8; 
}

@font-face {
    font-family: Roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf);
}